.col-md-3{
    display: inline-block;
    margin-left:-10px;
    
  }
  .col-md-3 img{
    width:30%;
    height:auto;
  }
  body .carousel-indicators li{
    background-color:red;
    margin-bottom:-30px;
  }
  body .carousel-indicators{
    bottom: 0;
  }
  body .carousel-control-prev-icon,
  body .carousel-control-next-icon{
    background-color:red;
  }
  body .no-padding{
    padding-left: 0;
    padding-right: 0;
     }