clearbit
dash==2.0.0
dash-bootstrap-components
dash-core-components==2.0.0
dash-daq
dash-extensions
dash-html-components==2.0.0
email_validator
Flask
Flask-WTF
Flask-Principal
Flask-Login
folium
geopy
investpy
neo4j
orjson
pandas
passlib
phonenumbers
py2neo
python-decouple
python-dotenv
twilio